cef_user_data/
coc/
configstore/
dconf/
dein/
fcitx/
flameshot/
google-chrome/
gtk-2.0/
gtk-3.0/
kdeconnect/
Kingsoft/
matplotlib/
mimeapps.list
neofetch/
nvim/
obs-studio/
polybar/
procps/
pulse/
QtProject.conf
rncbc.org
sonic-pi.net
Trolltech.conf
yay/
